@model MVCHomeWork.Models.ContactViewModel

@{
    ViewBag.Title = "客戶聯絡人資料";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("新增客戶聯絡人資料", "Create", null, new { @class = "btn .btn-link" })
</p>
@using (Html.BeginForm(actionName: "Index", controllerName: "CustContact", method: FormMethod.Get, htmlAttributes: new { @id = "CustContactForm" })) {
    <p>
        @Html.LabelFor(m => m.keyword, new { @class = "label label-default" })
        @Html.TextBoxFor(m => m.keyword, null, new { @id = "keyword", @class = "text-primary", @placeholder = "客戶姓名、公司統一編號、聯絡人姓名" })
        @Html.DropDownList("ContactJobTitle", ViewBag.JobTitleList as IEnumerable<SelectListItem>, new { @id = "ContactJobTitle", @onchange = "changeType();" })
        @Html.HiddenFor(m => m.od, new { @id = "od" })
        @Html.HiddenFor(m => m.st, new { @id = "st" })
        <input type="submit" id="btnSerch" value="查詢" class="btn btn-primary" />
    </p>
}

@Html.Action("GridData", "CustContact", Model)

<script type="text/javascript">
    function sortCTdata(sortTCol) {
        debugger;
        if ($("#od").val() == sortTCol) {
            if ($("#st").val() == "D") {
                $("#st").val("A");
            } else {
                $("#st").val("D");
            }
        } else {
            $("#od").val(sortTCol);
            $("#st").val("A");
        }
        $("#btnSerch").click();
    }

    function changeType() {
        $("#btnSerch").click();
    }
</script>