@model MVCHomeWork.Models.CustomerViewModel

@{
    ViewBag.Title = "客戶資料";
}
<link rel="stylesheet" type="text/css" href="http://jqwidgets.com/jquery-widgets-demo/jqwidgets/styles/jqx.base.css" />
<script type="text/javascript" src="http://jqwidgets.com/jquery-widgets-demo/jqwidgets/jqx-all.js"></script>
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("新增客戶資料", "Create", null, new { @class = "btn .btn-link" })
</p>
@using (Html.BeginForm(actionName: "Index", controllerName: "Customers", method: FormMethod.Get, htmlAttributes: new { @id = "CustForm" })) {
    <div class="form-group">
        <div class="form-control">
            @Html.LabelFor(m => m.keyword, new { @class = "label label-default" })
            @Html.TextBoxFor(m => m.keyword, null, new { @id = "keyword", @class = "text-primary", @placeholder = "客戶名稱或統一編號" })
        </div>
        @Html.HiddenFor(m => m.od, new { @id = "od" })
        @Html.HiddenFor(m => m.st, new { @id = "st" })
        <input type="submit" id="btnSerch" value="查詢" class="btn btn-primary" />
    </div>
    <div class="form-control-static">
        <label for="CustCardType" class="label label-default">客戶分類</label>
        @Html.DropDownList("CustCardType", ViewBag.CustCard as IEnumerable<SelectListItem>, new { @id = "CustCardType", @onchange = "changeType();" })
    </div>
}
<div class="row">
    <div class="col col-md-3 col-lg-2">
        <input id="ExportData" type="button" class="btn btn-link" value="匯出EXCEL" />
    </div>
</div>
<div id="GridBody" class="table table-bordered">
    @*@Html.Action("GridData", "Customers", Model)*@

    <table class="table">
        <tr>

            <th>
                <input type="button" class="btn btn-link" onclick="sortdata('@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().客戶名稱)')" value="@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().客戶名稱)">
            </th>
            <th>

                <input type="button" class="btn btn-link" onclick="sortdata('@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().統一編號)')" value="@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().統一編號)">
            </th>
            <th>
                <input type="button" class="btn btn-link" onclick="sortdata('@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().電話)')" value="@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().電話)">
            </th>
            <th>
                <input type="button" class="btn btn-link" onclick="sortdata('@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().傳真)')" value="@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().傳真)">
            </th>
            <th>
                <input type="button" class="btn btn-link" onclick="sortdata('@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().地址)')" value="@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().地址)">
            </th>
            <th>
                <input type="button" class="btn btn-link" onclick="sortdata('@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().Email)')" value="@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().Email)">
            </th>
            <th>
                <input type="button" class="btn btn-link" onclick="sortdata('@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().客戶分類)')" value="@Html.DisplayNameFor(model => model.GridModel.FirstOrDefault().客戶分類)">
            </th>

            <th></th>
        </tr>
        @foreach (var item in Model.GridModel) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.統一編號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.傳真)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.地址)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶分類, "CustCardType")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        @if (Model.GridModel.Count() <= 0) {
            <tr>
                <td colspan="8" class="label label-success">No Records</td>
            </tr>
        }
    </table>

</div>
<script type="text/javascript">
    function sortdata(sortCol) {
        if ($("#od").val() == sortCol) {
            if ($("#st").val() == "D") {
                $("#st").val("A");
            } else {
                $("#st").val("D");
            }
        } else {
            $("#od").val(sortCol);
            $("#st").val("A");
        }

        $("#btnSerch").click();
    }

    function changeType() {
        $("#btnSerch").click();
    }

    $(document).ready(function () {
        $("#ExportData").click(function (e) {
            var KW = $("#keyword").val();
            var CT = $("#CustCardType").val();
            var OD = $("#od").val();
            var ST = $("#st").val();
            e.preventDefault();

            window.location.href = "@Url.Action("ExportData", "Customers")?keyword=" + KW + "&CustCardType=" + CT + "&od=" + OD + "&st=" + ST;
        });
    });

</script>
