@model MVCHomeWork.Models.CustomerViewModel

@{
    ViewBag.Title = "Index";
}

<h2>客戶資料</h2>

<p>
    @Html.ActionLink("新增客戶資料", "Create", null, new { @class = "btn .btn-link" })
</p>
@using (Html.BeginForm(actionName: "Index", controllerName: "Customers", method: FormMethod.Get, htmlAttributes: new { @id = "CustForm" })) {
    <div class="form-group">
        @Html.LabelFor(m => m.keyword, new { @class = "label label-default" })
        @Html.TextBoxFor(m => m.keyword, null, new { @id = "keyword", @class = "text-primary", @placeholder = "客戶名稱或統一編號" })
        @Html.DropDownList("CustCardType", ViewBag.CustCard as IEnumerable<SelectListItem>, new { @id = "CustCardType" })
        @Html.HiddenFor(m => m.od, new { @id = "od" })
        @Html.HiddenFor(m => m.st, new { @id = "st" })
        <input type="submit" id="btnSerch" value="查詢" class="btn btn-primary" />
    </div>
}
@Html.Action("GridData", Model)


<script type="text/javascript">
    function sortdata(sortCol) {
        if ($("#od").val() === sortCol) {
            if ($("#st").val() === "D") {
                $("#st").val("A");
            } else {
                $("#st").val("D");
            }
        } else {
            $("#od").val(sortCol);
            $("#st").val("A");
        }
        $("#btnSerch").click();
    }
</script>
